:root {
  --text: 'Handlee', cursive;
  --title: 'Kavivanar', cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #fdf6a5;
}

main {
  width: 80vw;
  min-height: 100vh;
  margin: auto;
  padding-left: 4px;
  border-left: 1px solid #fda5a5;
}

h1 {
  font-family: var(--title);
  color: #D27C2C;
}

button {
  font-family: var(--title);
  border: none;
  background-color: transparent;
}

svg {
  pointer-events: none; /* oriented by ChatGPT, so now I can target the event listener to the button instead svg */
}

/* HEADER ------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}


/* CONTAINER ITEM ------------------------------------------------- */
.container {
  margin-top: 12px;
  padding-bottom: 24px;
  border-bottom: 2px dotted #D27C2C;
}

.list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 12px;
}

input.list-title-inpt {
  font-family: var(--title);
  font-size: 20px;
  font-weight: 700;
  border: none;
  background-color: transparent;
  outline: none;
}

 .list-container .delete-list-container {
  transform: translateY(4px);
  scale: 1.3
}

li {
  position: relative;
}

/* TO DO ITEM -------- */
.to-do-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 0;
}

.item-container {
  display: flex;
}

.check-field {
  width: 22px;
  height: 22px;
  border: 2px solid #D27C2C;
  border-radius: 50%;
}

input.list-item-inpt {
  width: 235px;
  margin: 0 8px;
  font-family: var(--text);
  font-size: 18px;
  font-weight: 400;
  border: none;
  background-color: transparent;
  outline: none;
}

/* COMPLETED ITEMS ------------------------------------------------- */
.completed {
  font-family: var(--title);
  color: #777;
}

.completed h3 {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 0;
}

.checked-item {
  display: block; /* Always checked when completed */
  transform: translateY(-5px);
}

.completed input {
  text-decoration: line-through;
  font-style: italic;
  color: #777;
}

/* BUTTONS ------------------------------------------------- */
.delete-btn {
  visibility: hidden;
}

.edit-items {
  font-size: 16px;
  font-weight: 700;
  color: #D27C2C;
}

button.freeze,
div.freeze {
  opacity: 0.5;
}

/* ADD ITEM ------------------------------------------------- */
.add-item-btn {
  content: 'ZZZZZZ';
  display: block;
  width: 48px;
  margin: auto;
  border: 2px solid #D27C2C;
  border-radius: 12px;
}

/* CREATE NEW LIST ---------------------------------------- */
.create-new-list-btn {
  display: block;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px auto;
  padding: 4px 12px;
  border: 2px solid #D27C2C;
  border-radius: 12px;
  color: #D27C2C;
}


